.creare_tabelă {
  max-height: 0;
  overflow: hidden;
  transition-property: height;
  transition: all 2s ease-in-out;
  font-size: 15px;
  font-weight: normal;
}

h3>button:hover ~ .creare_tabelă {
  max-height: 500px;
  
}

#conținut {
  max-width: 800px;
}

table {
  min-width: 400px;
}

table, th, td {
  border: solid black 2px;
  border-collapse: collapse;
}

td {
  border: solid black 1px;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
}

tr > th:first-child  {
  width: 30px;
}

#form_selecție{
  margin-bottom: 5px;
}

.modifică_tabela, .div_tabelă {
  display: inline-block;
  width: 49%;
}

.modifică_tabela > h4:first-child {
  margin-top: 0px;
}

.modifică_tabela {
  float: right;
  top: 0px;
  position: relative;
}

.bloc {
  min-height: 290px;
}

h3 > button {
  float: right;
  margin-right: 100px;
}